/*ajustes gerais de header*/
header{
    background-color: #C4C4C4;
    padding: 2rem;

}

/*Ajustes display header*/
.Span_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-size: medium;
    font-weight: normal;
 
}
/*Ajustes h1*/
.h1_header{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bolder;

}

/*Ajustes na parte da minha apresentação*/
.Span_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background: #F3F3F3;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    text-align: justify;
    line-height: 1.5;
}

/*Ajustes para mobile*/
@media (max-width:390px){
    .Span_main{
        flex-direction: column;
    }
}

/*Ajustes imagem minha apresentação*/
.img_header{
    border-radius: 50%;
    padding: 1rem;
    width: 80%;


}

/*Ajustes h2 minha apresentação*/
.h2_main{
    font-size: large;
    font-weight: bolder;    
    margin:0 20%;

}

/*Ajustes texto minha apresentação*/
.p_main{
    margin:0 20%;
}

/*Ajustes display caixa grande*/
.div_main{
    display: flex;
    justify-content: space-around;

}

.ul_main{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

/*Ajustes display caixa esquerda*/
.ul_main ul{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

/*Ajustes display caixa direita*/
.ol_main ol{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

/*Ajuste negrito subtitulos*/
.ul_main h2,.ol_main h2{
    font-weight: bolder;  
}


/*Ajustes formatação caixas*/
.box{
    box-sizing: border-box;
    width: 8vw;
    height: 10vh;
    background-color: #C4C4C4;
    border: solid 5px black;
    
}

/*Ajustes para mobile*/
@media (max-width:390px){
    .div_main{
        flex-direction: column;
    }

    .ul_main ul,.ol_main ol{
        justify-content: space-evenly;
        align-items: center;        
    }
    .box{
        width: 25vw;
        height: 10vh;
    }
    .ul_main h2,.ol_main h2{
        align-self: flex-start;
    }
}

/*Ajustes rodapé geral*/
footer{
    margin-top: 2%;
    padding: 16px 32px;
    background-color: #C4C4C4;
    
}

/*Ajustes display caixa grande*/
.ul_footer{
    display: flex;
    flex: 1;
    justify-content: space-between;

}

/*Ajustes display caixa esquerda*/
.ul_footer ul{
    display: flex;
    gap: 2rem;
}

/*Ajustes display caixa direita*/
.botton_footer{
    display: flex;
    gap: 1rem;
}

/*Ajustes imagens links redes sociais*/
.img_footer{
    border-radius: 50%;
    height: 2em;
    width: 2em;
}

/*Ajustes para mobile*/
@media (max-width:390px){
    .ul_footer{
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
    }
}

